[SPECTROGRAM]
sample_rate=16000
num_window_samples=320
num_window_step_samples=80
fft_length=512
kernel_length=7
freq_cutoff=3000
preemphasis=.95
use_mel=False
do_mfccs=False
no_use_dpss=False
mel_nbands=40
num_ceps=13
liftering=.6
include_energy=False
include_deltas=False
include_double_deltas=False
delta_window=9
do_freq_smoothing=False
mel_smoothing_kernel=-1

[SVM]
example_length=.2
kernel='linear'
penalty_list=['little_reg','0.1',
                                                 'reg_plus', '0.01',
                                                 'reg_plus_plus','0.001',
						 'reg_plus_plus_plus','0.0001']


[EDGES]
block_length=40
spread_length=1
threshold=.7
magnitude_block_length=0
abst_threshold=(0.025,  0.025,  0.015,  0.015,  0.02 ,  0.02 ,  0.02 ,  0.02 )
magnitude_threshold=.4
magnitude_spread=1
magnitude_and_edge_features=False
magnitude_features=False
mag_smooth_freq=0
mag_downsample_freq=0
auxiliary_data=False
auxiliary_threshold=.5
num_mag_channels=10
num_axiliary_data=3
save_parts_S=False

[EM]
n_components=6
n_init=6
n_iter=200
random_seed=0
